<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="text-center">
        <% if current_user.id == @profile.user_id %>
          <% avatar_url = current_user.facebook_picture_url %>
          <% if @profile.photo %>
            <%= cl_image_tag @profile.photo.path, class:"avatar-xlarge" %>
          <% elsif avatar_url %>
            <%= image_tag avatar_url, class:"avatar-xlarge" %>
          <% else %>
            <%= image_tag("http://res.cloudinary.com/kingofocean/image/upload/v1488289197/avatar-medium_ldp59x.jpg", class:"avatar-xlarge") %>
          <% end %>
        <% else %>
          <% number = @profile.user_id %>
          <% temp_user = User.where(id: number) %>
          <% if @profile.photo %>
            <%= cl_image_tag @profile.photo.path, class:"avatar-xlarge" %>
          <%elsif temp_user[0].facebook_picture_url != nil %>
            <%= image_tag temp_user[0].facebook_picture_url, class:'avatar-xlarge' %>
          <% else %>
            <%= image_tag("http://res.cloudinary.com/kingofocean/image/upload/v1488289197/avatar-medium_ldp59x.jpg", class:"avatar-xlarge") %>
          <% end %>
        <% end %>
      </div>
      <div>
      <p><strong>Nom</strong>: <%= @profile.last_name %></p>
      <p><strong>Prénom</strong>: <%= @profile.first_name %></p>
      <p><strong>Ville</strong>: <%= @profile.address %></p>
      <p><strong>Ville</strong>: <%= @profile.phone_number %></p>
      </div>
        <% if current_user.id == @profile.id %>
          <%= link_to "Editer mes infos", edit_profile_path(@profile), class:"btn btn-primary" %>
          <%= link_to "Supprimer mon compte", user_registration_path, :method => :delete, class:"btn btn-danger",
                      :data => {:confirm => 'Are you sure?'} %>
        <% end %>
    </div>
  </div>
  <div class='row text-center margin'>
  <h3>Les commandes en cours</h3>
  <div class='orders-profile'>
    <% @orders.reverse.each do |order| %>
      <% if order.end_date < 3.days.from_now %>
        <div class="col-xs-12 col-sm-4" style="display: none;">
              <p>Date de la commande <%= order.start_date %> - <%= order.end_date %></p>
              <p>Status de la commande <%= order.status %></p>
        </div>
        <% elsif order.status == "accepté" %>
        <div class="col-xs-12 col-sm-4 accepted">
          <div class='order-content'>
            <p>Date de la commande <%= order.start_date %> - <%= order.end_date %></p>
            <p>Status de la commande "<%= order.status %>"</p>
          </div>
        </div>
        <% elsif order.status == "Demande envoyée"%>
        <div class="col-xs-12 col-sm-4 sending">
          <div class='order-content'>
            <p>Date de la commande <%= order.start_date %> - <%= order.end_date %></p>
            <p>Status de la commande "<%= order.status %>"</p>
          </div>
        </div>
        <% else %>
        <div class="col-xs-12 col-sm-4 other">
          <div class='order-content'>
            <p>Date de la commande <%= order.start_date %> - <%= order.end_date %></p>
            <p>Status de la commande "<%= order.status %>"</p>
          </div>
        </div>
      <%end%>
    <% end %>
  </div>
</div>
<hr>
<!-- Mes jeux -->


<div class="tabs">
    <a class="tab active" href="#" data-target="#player">
      <p>Commentaire sur mes locations</p>
    </a>
    <a class="tab" href="#" data-target="#owner">
      <p>Commentaire sur mes jeux</p>
    </a>
    <a class="tab" href="#" data-target="#my-games">
      <p>Mes jeux</p>
    </a>
  </div>

  <div class="tab-content" id="player">
    <div class="container" >
      <% PlayerReview.all.each do |review| %>
        <div>
          <p><%= review.rating %></p>
          <p><%= review.comment %></p>
          <p><%= review.state %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tab-content hidden" id="owner">
    <div class="container">
      <% OwnerReview.all.each do |review| %>
        <div>
          <p><%= review.rating %></p>
          <p><%= review.comment %></p>
          <p><%= review.state %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tab-content hidden" id="my-games">
    <div class="container">
      <ul>
        <h1>Mes jeux</h1>
        <% @profile.games.each do |game| %>
          <li><%= game.name %></li>
          <li><%= game.price %></li>
          <li><%= game.category %></li>
          <li><%= game.age_range %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function(){
      $(".tab").on("click", function(e){
      $(".active").toggleClass('active');
      $(this).toggleClass('active');
      $(".hidden").toggleClass('hidden');
      $(".tab-content").toggleClass('hidden');
      var id = $(".active").data('target');
      $(id).toggleClass('hidden');
      });
    });
  <% end %>
<% end %>

