<div class="navbar-wagon navbar-fixed-top opaque-navbar">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= cl_image_tag("imageedit_4_9375620562_stkueo",
      width: 50, height: 50, crop: :fill, alt: "home") %>
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm scrolled">

    <!-- Search form -->

    <!-- Different navigation if 15614807111_790a1d006b_q_djnztclogin or not -->
    <% if user_signed_in? %>

      <!-- Notification -->
      <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
        <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue">3</div>
        </div>
      <% end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% number = current_user.id %>
          <% profile_pic = Profile.where(user_id: number) %>
          <% avatar_url = current_user.facebook_picture_url %>
          <% if profile_pic != [] && profile_pic[0].photo != nil %>
            <%= cl_image_tag profile_pic[0].photo.path, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% elsif avatar_url %>
            <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag("http://res.cloudinary.com/kingofocean/image/upload/v1488289197/avatar-medium_ldp59x.jpg", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown") %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
            <% number = current_user.id  %>
            <% if Profile.where(user_id: number) != [] %>
            <% @profile = Profile.all.select {|profil| profil.user_id == current_user.id} %>
              <%= link_to profile_path(@profile) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            <% else %>
              <%= link_to new_profile_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Nouveau Profile") %>
              <% end %>
            <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <!-- Button (call-to-action) -->
      <% @profile = Profile.all.select {|profil| profil.user_id == current_user.id} %>
      <% if @profile != [] %>
        <%= link_to "Ajoutez un jeu", new_profile_game_path(@profile), class: "navbar-wagon-item navbar-wagon-button btn" %>
        <% else %>
          <%= link_to "Ajoutez un jeu", new_profile_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
        <% %>
      <% end %>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <%= link_to "Ajoutez un jeu", new_user_session_path, class: "navbar-wagon-item navbar-wagon-button btn" %>

    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

