<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(207, 217, 223, 0.4) 0%, rgba(226, 235, 240, 0.4) 30%), url('http://res.cloudinary.com/ddlfhhbye/image/upload/v1488284367/mantalks-2-2016-image-3_dkufjd.jpg');">
  <div class="banner-content">
    <h1 id="title">GameBnb</h1>
    <p id="subtitle"><strong>Louez des jeux près de chez vous</strong></p>
    <div class="search">
    <div class="form-inline">
      <%= form_tag(games_path, method: 'GET') do %>
        <input type="text" class="form-control input-lg" placeholder="où" name="address">
        <input type="date" class="form-control input-lg" placeholder="quand" name="start_date">
        <select class="form-control input-lg" placeholder="catégorie" name='category'>
          <% games_array = Game.all.map { |game| [game.category]} %>
          <option value="" disabled selected>catégorie</option>
          <%= options_for_select(games_array) %>
        </select>
        <input type="submit" class="btn btn-primary btn-lg" value="Rechercher">
      <% end %>
    </div>
    </div>
    <div class="wrap">
      <div class="box">
        <div class="text animated pulse"><%= link_to "En savoir plus", "#about", class: "read-more btn-medium" %></div>
        </div>
      </div>
  </div>
</div>

<!-- Wrapper Top 3 games-->
<div class="wrapper top-games">

<div class="container-fluid">
  <div class="text-center intro-index">
    <h2>Vous pouvez louer ces jeux sur notre site</h2>
  </div>

  <% @selections.each do |selection| %>
    <div class="row-fluid">
      <div class="span12">
        <div class="col-xs-12 col-lg-4 text-center">
          <div class="card"
          style="background-color: grey">
            <div class="card-category"><%= selection.category %></div>
            <div class="card-description">
              <h2><%= selection.name %></h2>
              <div class="badge-container">
                <div class="badge badge-blue"><%= selection.price %> €</div>
              </div>
            </div>
          </div>
          <a class="card-link" href="#" ></a>
          <%= link_to "", game_path(selection), class: "card-link", target: "_blank" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>

<!-- Wrapper How it works -->
<div id="about" class="wrapper how-it-work">
  <div class="container">
    <div class="row text-center">
      <h2>Comment ça marche ?</h2>
        <div class="col-xs-12 col-lg-12">
          <p>Le principe est simple : trouver autour de chez vous des jeux de société que vous pouvez louer pour la journée, un weekend, ou toute une semaine !</p>
          <p> Recherchez par : </p>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="image"><%= cl_image_tag("city",
      width: 150, height: 150, crop: :fill) %></div>
          <p>ville</p>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="image"><%= cl_image_tag("day",
      width: 150, height: 150, crop: :fill) %></div>
          <p>jour de location</p>
        </div>
        <div class="col-xs-12 col-lg-4">
        <div class="image"><%= cl_image_tag("puzzle",
      width: 150, height: 150, crop: :fill) %></div>
          <p>catégorie</p>
        </div>
    </div>
  </div>
</div>



