<div class="container">
<%= simple_form_for @game do |f| %>
  <%= f.input :name %>
  <% if @game.description %>
    <%= f.input :description %>
  <% end %>
  <%= f.input :category %>
  <%= f.input :average_duration %>
  <%= f.input :min_number_players %>
  <%= f.input :max_number_players %>
  <%= f.input :price %>
  <%= f.input :max_number_players %>
  <%= f.button :submit %>
<% end %>

</div>

