<div class="container">
  <div class="row">
    <div class="title col-xs-12 col-lg-offset-4 col-lg-6 text-center">
      <h1>Ajoutez un jeu en location</h1>
    </div>
    <div class="col-xs-12 col-lg-offset-4 col-lg-6 text-center">
      <%= image_tag("http://res.cloudinary.com/kingofocean/image/upload/v1488289197/avatar-medium_ldp59x.jpg", class:"avatar-xlarge") %>
    </div>
    <div class="col-xs-12 col-lg-offset-4 col-lg-6 text-center">
      <%= simple_form_for [@profile, @game] do |f| %>
        <%= f.input :name, label: 'Nom du jeu' %>
        <%= f.input :photo, as: :attachinary %>
        <%= f.input :description, as: :string %>
        <%= f.input :category, label: 'Catégorie' %>
        <%= f.input :age_range, label: 'âge' %>
        <%= f.input :average_duration, label: 'Durée moyenne d\'une partie (en minutes)' %>
        <%= f.input :min_number_players, label: 'Nombre de joueurs minimum' %>
        <%= f.input :max_number_players, label: 'Nombre de joueurs maximum' %>
        <%= f.input :price, label: 'Prix par jour' %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

