
  <div class="row">
    <div class="col-xs-12 col col-sm-12 col-lg-6">
      <div id="sextoys" class="container-fluid">
        <div class="text-center intro-index">
          <h1>Nos jeux</h1>
        </div>
        <% @games.each do |game| %>
          <div class="product">
            <img src="kudoz.jpg" alt="kudoz" class="product-image hidden-xs">
            <div class='product-body'>
              <h3><%= game.name %></h3>
              <p><%= game.price %> €</p>
              <% if game.min_number_players == game.max_number_players %>
                <p><%= game.max_number_players %> players</p>
              <% else %>
                <p>From <%= game.min_number_players %> to <%= game.max_number_players %> players</p>
              <% end %>
              <p>Age range: <%= game.age_range %></p>
              <p>Average duration: <%= game.average_duration %> min</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col col-sm-12 col-lg-6">
      <div id="map" style="width: 100%; height: 600px;"></div>
    </div>
  </div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>



